.page {
  padding: 0px;
  margin: 0px;
  /* background-color: #030712; */
}
.navbar{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2%;
  padding-right: 2%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.navbarLogo{
  width: 30%;
  height: 100%;
}

.logo{
  font-size: 18px;
  color: green;
}
.navbarTabs{
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.tabs:hover{
  transform: scale(1.04);
  transition: 0.3s;
}

.hamburgerIcon{
  display: none;
}

.hamburgerIcon div {
  width: 35px;
  height: 3px;
  background-color: rgb(18, 18, 18);
  margin: 6px 0;
  transition: 0.4s;
}

.bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}



.mobileMenu {
  display: none;
  position: absolute;
  top: 12%;
  left: 0;
  height: 160px;
  width: 100%;
  list-style: none;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
}

.mobileMmenu >li {

}
.tabs{

}

.mobileMenuTab{
  width: 100%;
  margin-bottom: 8px;
  margin-top: 4px;
}

.addMargin{
  margin-top: 30%;
}


/* main content style */

.intoSection{
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 250px;
}

.introPhoto{
  width: 35%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.intoDetails{
  width: 65%;
  height: 100%;
  padding: 20px;
}

.introLocation{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;

}

.cityName{
  margin-left: 10px;
}
.inroPhotoContainer{
  display: flex;
  flex-direction: row;
}
.intophotoImg{
  object-fit: contain;
  z-index: 5;
}
.introName{
  font-size: 2rem;
  font-weight: 900;
}
.aboutmetext{
  align-self:center;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
}
.aboutSection{
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutNameSection{
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.curiousSection{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.profilePicSection{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillSection{
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #030712;
}

.abtSkl{
  font-size: 1rem;
  color: #D1D5DB;
  background-color: #374151;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
}

.skillTech{
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 25px;
  color: #D1D5DB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillsIcon{
 display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.sectionTitleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 25px;
}
.skillIconContainer{
  width: 108px;
  height: 120px;
  padding-top: 10px ;
  padding-bottom: 10px ;
  padding-left: 8px;
}
.expreienceSection{
  background-color: brown;
  height: 250px;
  margin-bottom: 0px;
  width: 100%;
}

.workSection{
  background-color: blue;
  height: 250px;
  margin-bottom: 0px;
  width: 100%;
  
}
@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


.footer {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 620px) {

  .intoSection{
    height: 500px;
  }
  .page {
    padding-bottom: 80px;
  }

  .navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .navbarTabs{
    display: none;
  }
  .hamburgerIcon{
    display: inline;
  }

 .hamburgerIcon{
  display: block;
 }
  .main {
    align-items: center;
  }

.intoSection{
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
}

.intoDetails{
  width: 100%;
}
.introName{
  width: 100%;
}

.introPhoto{
  width: 100%;
}

.aboutSection{
    background-color: aqua;
    height: 60vh;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .aboutNameSection{
    width: 100%;
  }
  
  .profilePicSection{
    width: 100%;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

@media (max-width: 400px) {
  .addMargin{
    margin-top: 50%;
  }
}