.page {
  padding: 0px;
  margin: 0px;
  line-height: 1.6;
  background-color: var(--themeBackground1);
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2%;
  padding-right: 2%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: var(--themeBackground1);
  /* position: fixed; */
  /* z-index: 45; */
}

.navbarLogo {
  width: 30%;
  height: 100%;
}

.logo {
  font-size: 18px;
  color: green;
}

.navbarTabs {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tabs:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.hamburgerIcon {
  display: none;
}

.hamburgerIcon div {
  width: 35px;
  height: 3px;
  margin: 6px 0;
  transition: 0.4s;
  background-color: var(--hamburgerColor);
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.mobileMenu {
  display: none;
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  list-style: none;
  background-color: var(--themeBackground1);
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5%;
}

.mobileMmenu > li {
}

.tabs {
  color: var(--textColor1);
}

.mobileMenuTab {
  width: 100%;
  padding-bottom: 4px;
  padding-top: 4px;
}

.addMargin {
  margin-top: 45%;
}

/* main content style */

.intoSection {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--themeBackground1);
  /* padding-top: 50px; */
  padding-bottom: 25px;
}

.introPhoto {
  width: 35%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.intoDetails {
  width: 65%;
  height: 100%;
  padding: 20px;
}

.introLocation {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.socialIcon {
  margin-right: 15px;
  height: 22px;
  width: 22px;
}

.socialIcon:hover {
  transform: scale(1.18);
  transition: 0.3s;
}

.cityName {
  margin-left: 10px;
  color: var(--hamburgerColor);
}

.inroPhotoContainer {
  display: flex;
  flex-direction: row;
}

.intophotoImg {
  object-fit: contain;
  z-index: 5;
}

.introName {
  font-size: 2rem;
  font-weight: 900;
  color: var(--textColor1);
  margin-bottom: 15px;
}

.aboutmetext {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
}

.aboutSection {
  width: 100%;

  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--themeBackground2);
}

.aboutMeMainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.aboutNameSection {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.curiousSection {
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 20px;
  width: 100%;
  color: var(--textColor1);
}

.aboutMeDetails {
  color: var(--hamburgerColor);
}

.profilePicSection {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillSection {
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 35px;
  padding-top: 20px;
  background-color: var(--themeBackground1);
}

.abtSkl {
  font-size: 1rem;
  color: var(--hamburgerColor);
  background-color: #374151;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  font-weight: 800;
}

.skillTech {
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 25px;
  color: var(--hamburgerColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillsIcon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, auto));
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}

.sectionTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 25px;
}

.skillIconContainer {
  width: 108px;
  height: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
}

.expreienceSection {
  background-color: var(--themeBackground2);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 20px;
  padding-bottom: 100px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.expreienceSectionComponent {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.workSection {
  background-color: var(--themeBackground1);
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);
    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.footer {
  background-color: var(--themeBackground2);
  padding-top: 15px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 620px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    /* background-color: aqua; */
    z-index: 25;
  }

  .navbarTabs {
    display: none;
  }

  .hamburgerIcon {
    display: inline;
  }

  .hamburgerIcon {
    display: block;
  }

  .main {
    align-items: center;
    /* margin-top: 20px; */
  }

  .intoSection {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    padding-top: 5px;
  }

  .greenDot {
    width: 25px;
    height: 25px;
  }

  .intoDetails {
    width: 100%;
  }

  .introName {
    width: 100%;
  }

  .introPhoto {
    width: 100%;
  }

  .aboutSection {
    margin-bottom: 0px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .aboutMeMainContainer {
    display: flex;
    flex-direction: column;
  }

  .aboutNameSection {
    width: 100%;
  }

  .profilePicSection {
    width: 100%;
  }

  .expreienceSection {
    padding-bottom: 60px;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}

@media (max-width: 400px) {
  .addMargin {
    margin-top: 50%;
  }
}
