
.expericeCard{
    background-color: #1F2937;
    width: 75%;
    padding:20px;
    border-radius: 15px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.companyDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.companyName{
    font-size: 1.25rem;
    color:#14A800;
    font-weight: 800;
    width: 30%;  
}

.desination{
    font-size: 1rem;
    font-weight: 800;
    color: #F9FAFB;
    width: 40%;
    text-align: left;
   
}

.companyRolesContainer{
    width: 40%;
    align-self: center;
    margin-top: 10px;
}

.rolePoints{
    color: #D1D5DB;
}

.year{
    font-size: 1rem;
    font-weight: 500;
    color: #E5E7EB;
    width: 30%;
    /* text-align: center; */
}


@media (max-width: 620px) {
    .expericeCard{
        width: 90%;
    }
    .companyDetails{
        flex-direction: column;
        gap: 10px;
    }
    .companyName{
        width: 90%;
    }
    .desination{
        width: 90%;
    }
    .year{
        width: 90%;
    }
    .companyRolesContainer{
        width: 90%;
        align-items: flex-start;
    }

}