
.footercomponent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mailContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mailIcon{
    width: 25px;
    height: 25px;
}

.mailid{
    color:var(--textColor1);
    font-size: 1.1rem;
    margin-right: 20px;
    margin-left: 20px;
    height: 100%;
}

.copyIcon{
    width: 27px;
    height: 27px;
}

.copyIcon:hover{
  transform: scale(1.08);
  transition: 0.3s;
}
.mailIcon:hover{
  transform: scale(1.08);
  transition: 0.3s;
}

.socialComp{
    margin-top: 35px;
    margin-bottom: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.findMessage{
    font-size: 0.8rem;
    color: var(--hamburgerColor);
}

.madewithLove{
    width: 100%;
    background-color: var(--themeBackground1);
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.copyrightHeart{
    width: 14px;
    height: 14px;
}

.copyrighttext{
    margin-left: 10px;
    margin-right: 10px;
    color: var(--textColor1);
    font-size: 0.7rem;
}