.projectSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;

}

.projectCard{
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    background-color: #1F2937;
    padding: 10px;
}

.projectCardImage{
    width: 48%;
    height: 98%;
    padding: 10px;
    overflow: hidden;
}

.projectCardDescr{
    width: 48%;
    height: 98%;
    padding: 10px;
    overflow: hidden;
    /* background-color: aqua; */
    
}

.projectImage{
    width: 100%;
    height: 200px;
}

.projectName{
    font-weight: 800;
    font-size: 1.2rem;
    color:#F9FAFB;
}

.prejectDesc{
    font-size: 1rem;
    margin-top: 10px;
    color:#F9FAFB;
    margin-bottom: 10px;
}

.techTagContainer{
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #374151;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

.techLabel{
    font-size: 0.8rem;
    color:#F9FAFB;
    font-weight: 700;
}
.repoLinkContainer{
    margin-top: 10px;
    height: 15px;
    width: 15px;
}

@media (max-width: 620px) {
    .projectCard{
        flex-direction: column;
        width: 90%;
    }
    .projectCardImage{
        width: 90%;
    }
    .projectCardDescr{
        width: 90%;
    }
}