.projectSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25px;
}

.projectCard {
    width: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    background-color: var(--cardBackground);
    padding: 10px;
    height: 250px;
    margin-top: 10px;
}

.projectCardImage {
    width: 48%;
    height: 98%;
    padding: 10px;
    overflow: hidden;
}

.projectCardDescr {
    width: 48%;
    height: 98%;
    padding: 10px;
    overflow-y: scroll;
    z-index: 5;
}

.projectCardDescr {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: .5px;
    /* Firefox */
}

.projectCardDescr::-webkit-scrollbar {
    width: 1px;
}

.projectCardDescr::-webkit-scrollbar-track {
    /* background-color: #e61515; */
    background-color: var(--themeBackground1);
}

.projectCardDescr::-webkit-scrollbar-thumb:hover {
    background-color: rgb(135, 135, 135);
}


.techlistContainer {}

.projectImage {
    width: 100%;
    height: 200px;
}

.projectName {
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--textColor1);
}

.prejectDesc {
    font-size: 1rem;
    margin-top: 10px;
    color:var(--textColor1);
    margin-bottom: 10px;
}

.techTagContainer {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #374151;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 5px;
}

.techLabel {
    font-size: 0.8rem;
    color: #F9FAFB;
    font-weight: 700;
}

.repoLinkContainer {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 15px;
    width: 15px;
}

@media (max-width: 620px) {
    .projectCard {
        flex-direction: column;
        width: 90%;
    }

    .projectCardImage {
        width: 90%;
    }

    .projectCardDescr {
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 10px;
    }
}